{%- include top.html -%}

  {% if page.mermaid %}
  <script>
    function initMermaid() {
      var config = {
        startOnLoad: true,
        theme: "forest",
        flowchart: {
          useMaxWidth: true,
          htmlLabels: true
        }
      };
      mermaid.initialize(config);
      window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    }
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mermaid/8.6.0/mermaid.min.js" async onload="initMermaid()"></script>
  {% endif %}

<body class="wrap">
  {%- include header.html -%}

  {{- content -}}

  {%- include footer.html -%}
  {%- include anchor_links.html -%}
  {%- include analytics.html -%}
  {%- include search/script.html -%}
</body>
</html>